
<ion-grid fixed>
  <ion-row>
    <ion-col *ngFor="let publicacion of publicacionesHome">
      <app-publicacion *ngFor="let publicacionDetalle of publicacion" [publicacion]="publicacionDetalle"></app-publicacion>
    </ion-col>
  </ion-row>
</ion-grid>




<!-- <ion-card *ngFor="let publicacion of publicacionesHome"> 
    <img class="imagen" [src]="c.imagenes" />
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>{{c.empresa}}</ion-card-subtitle>
          </ion-col>
          <ion-col>
            <div color="green">${{c.precio}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-card-title>{{c.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{c.descripcion}}
      
    </ion-card-content>
    <ion-button slot="center" routerLink="/detalle">
      ver detalle
    </ion-button>
    
  </ion-card> -->