.imagen{
    height: 80px;
    width: 70px;
}
label {
    /* Presentation */
    font-size: 38px
  }
  
  /* Required Styling */
  
.txt-titulo{
  color: white;
  font-size: large;
}
.txt-precio{
  color: green;
  font-size: large;
}

  label input[type="checkbox"] {
    display: none;
  }
  
  .custom-checkbox {
    margin-left: 2em;
    position: relative;
    cursor: pointer;
  }
  
  .custom-checkbox .glyphicon {
    color: gold;
    position: absolute;
    top: -0.3em;
    left: -1.25em;
    font-size: 0.75em;
  }
  
  .custom-checkbox .glyphicon-star-empty {
    color: gray;
  }
  
  .custom-checkbox .glyphicon-star {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  
  .custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
    opacity: 1;
  }