<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de {{datosEmpresa?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-item class="top-20">
    <img class="imagen" src="/assets/almacen.jpg">
    <br><br>
    <h2>{{datosEmpresa?.nombre}}</h2>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <label  for="id-of-input" class="custom-checkbox" (change)="agregarFavorito()">
      <input #checkStar type="checkbox" id="id-of-input">
      <i class="glyphicon glyphicon-star-empty"></i>
      <i class="glyphicon glyphicon-star"></i>
    </label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let publicacion of publicacionesEmpresa">
        <ion-card>
          <!-- <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="4"><img class="imagen" src="assets/clorox.jpg" /></ion-col>
                <ion-col size="4">Titulo</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item> -->
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <img class="imagen" src="assets/clorox.jpg" />
              </ion-col>
              <ion-col class="left-20">
                <br>
                <ion-text class="txt-titulo">{{publicacion.titulo}}</ion-text>
                
                <br>
                <ion-text class="txt-precio">${{publicacion.precio}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>  
      </ion-col>
      <!-- <ion-col>
        <ion-card> 
          <img class="imagen" src="assets/aceite.png" />
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-title>Aceite Belmont</ion-card-title>
              </ion-col>
              <ion-col>
                <ion-card-title color="primary">$3.000</ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        </ion-card> 
      </ion-col> -->
    </ion-row>
  </ion-grid>
  </ion-content>