<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de {{datosEmpresa?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-item class="top-20">
    <img class="imagen" src="/assets/almacen.jpg">
    <br><br>
    <h2>{{datosEmpresa?.nombre}}</h2>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <label  for="id-of-input" class="custom-checkbox" (change)="agregarFavorito()">
      <input #checkStar type="checkbox" id="id-of-input">
      <i class="glyphicon glyphicon-star-empty"></i>
      <i class="glyphicon glyphicon-star"></i>
    </label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let publicacion of publicacionesEmpresa">
          <ion-avatar slot="start">
            <img src="/assets/{{publicacion.imagenes[0]}} "/>
          </ion-avatar>
          <ion-label text-wrap (click)="verDetallePublicacion(publicacion._id)">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h3>{{publicacion?.titulo}}</h3>
                </ion-col>
                <ion-col>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col >
                  Precio: {{publicacion?.precio}}
                </ion-col>
                
              </ion-row>
              <ion-row *ngIf="publicacion?.observacion">
                <ion-col >
                    Cantidad disponible: {{publicacion?.stock}}
                </ion-col>
  
              </ion-row>
            </ion-grid>
            
          </ion-label>
          
        </ion-item>   
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>